.section {
  margin: 40px 20px;

  .header {
    display: flex;
    justify-content: space-between;
    color: var(--yellow);

    .title {

    }

    .icon {
      width: 40px;
      text-align: center;
    }

    .collapsed {
      transform: rotate(180deg);
    }
  }

  .divider {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed var(--white);
    opacity: 0.5;
    margin: 30px auto;
  }
}